    * {
        margin: 0;
        padding: 0;
    }
    
    h3 {
        margin: 18px 0;
        color: #807777;
    }
    /* h6{
    padding: 5px;
    background: #d0454b;
    border-radius: 7px;
    color: white;
    text-align: center;
    } */
    /* h5 {
    color: white ;
    background: #007bff;
    margin-left: 40px;
    display: inline;
    padding: 6px;
    border-radius: 14px;
} */
    
    h4 {
        margin: 15px 0;
    }
    /* p {
       color: #212529;
       font-weight: 500;
       font-size: 18px;
    } */
    
    /*********************  Start [Login] Style ****************** */
    
    .login input {
        border-radius: 7px;
        border: 1px solid #343a40;
        margin-left: 10px;
        height: 32px;
    }
    
    .login .submit {
        background: #343a40;
        border: 1px solid #343a40;
        color: white;
        padding: 5px 7px;
        font-size: 15px;
        font-weight: 900;
    }
    
    @media screen and (max-width: 760px) {
        .login form input {
            width: 100%;
            margin: 3px;
        }
    }
    
    @media screen and (max-width:1024px) {
        .login form input {
            margin: 2px;
        }
    }
    
    @media screen and (max-width:822px) {
        .register .btn {
            margin-bottom: 15px;
        }
    }
    /*
@media screen and (max-width:400px)
{
.className {
    width:200px
}*/
    /*********************  End [Login] Style ****************** */
    /********************* Start NavBar Style ****************** */
    
    #navbarNav .navbar-nav a {
        color: white;
        font-weight: 600;
    }
    
    #navbarNav .navbar-nav a:hover {
        background: #DC3545;
        border-radius: 10px;
    }
    
    .navbar #span1 {
        font-size: 25px;
    }
    
    .navbar #span2 {
        font-size: 30px;
        color: #DC3545;
    }
    /********************* End NavBar Style ****************** */
    /********************* Start Register Form Style ****************** */
    
    .register .row {
        margin-bottom: 15px;
    }
    
    .register .row .btn {
        padding: 7px 23px;
    }
    
    .register span {
        cursor: pointer;
    }
    
    .register .logIn {
        color: #007bff;
    }
    
    .register .signUp {
        color: #5db130;
    }
    
    .register .logOut {
        color: #ea3f3f;
        display: none;
    }
    
    .register .container .form2 {
        display: none;
    }
    
    .pass {
        position: absolute;
        top: 5px;
        right: 30px;
        font-size: 27px;
    }
    
    #exam button a {
        text-decoration: none;
    }
    
    @media screen and (max-width:812px) {
        #exam button a {
            text-decoration: none;
        }
        #exam button {
            width: 100%;
            ;
        }
        .register .row .btn {
            width: 100%;
        }
    }
    /********************* End Register Form Style ****************** */
    
    #exam .container div {
        margin: 20px 0;
    }
    /* Start Footer */
    
    .footer h5 {
        color: rgb(165, 151, 151);
        font-size: 18.9px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    .footer p {
        color: #777;
        line-height: 26px;
    }
    
    .footer span {
        color: #fff;
    }
    
    .footercontainer {
        background-color: #212529;
    }
    
    .footerp {
        color: #555555;
        font-size: 15.12px;
        /* margin-left: 480px;
    margin-top: 70px;
    margin-bottom: 0px; */
    }
    
    .footer input[type=button] {
        margin-top: 50px;
    }
    
    .footer .links a {
        color: #cbdaeb;
    }
    
    #location {
        height: 300px;
        margin-top: 50px;
        color: #fff;
        text-align: center;
    }
    /* End Footer */
    /* stat about us */
    
    .aboutus {
        /* background-color: rgb(141, 38, 38); */
    }
    
    .card img {
        width: 300px;
        height: 300px;
        margin: auto;
    }
    /* End about us */
    /*Start Section Contact Us*/
    
    .contact-us {
        background: url('../images/contactus.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 300px;
    }
    
    .contact-us .fields {
        background: rgba(9, 9, 9, 0.8);
        min-height: 300px;
        color: #DDD;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .contact-us p {
        margin-bottom: 40px;
    }
    
    .contact-us textarea {
        height: 108px;
        resize: none;
    }
    
    .contact-us input[type="text"],
    .contact-us input[type="email"],
    .contact-us textarea,
    .contact-us input[type="number"] {
        background: rgba(82, 78, 78, 0.7);
        color: #fff;
        border: none;
        padding: 10px;
        margin: 10px;
    }
    
    .contact-us .contact {
        margin-left: 10px;
    }
    
    .contact-us #tell {
        color: #DC3545;
    }
    /* Start Slider */
    
    .carousel-indicators li {
        height: 15px;
        width: 15px;
    }
    
    .carousel-indicators .active {
        height: 22px;
        width: 22px;
        background-color: #DC3545;
    }
    
    .carousel-indicators {
        bottom: 3px;
    }
    
    .carousel-inner>.item>img {
        width: 100%
    }
    
    .carousel img {
        height: 360px;
    }
    /* End Slider */
    /*Start Section Tistimonials*/
    
    .testimonials {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .testimonials h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .testimonials .lead {
        line-height: 2em;
        margin-bottom: 10px;
    }
    
    .testimonials span {
        font-size: 18px;
        font-weight: bold;
        color: #DC3545;
        margin: 200px;
    }
    
    .testimonials img {
        height: 300px;
        border-radius: 15%;
        margin-top: 25px;
    }
    /*End Section Tistimonials*/
    /* Start Exam */
    
    #container {
        margin: 20px auto;
        background-color: white;
        height: 300px;
        width: 700px;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px;
        position: relative;
    }
    
    #start {
        font-size: 1.5em;
        font-weight: bolder;
        word-break: break-all;
        width: 100px;
        height: 150px;
        border: 2px solid lightgrey;
        text-align: center;
        cursor: pointer;
        position: absolute;
        left: 300px;
        top: 50px;
        color: lightgrey;
    }
    
    #start:hover {
        border: 3px solid lightseagreen;
        color: lightseagreen;
    }
    
    #qImg {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    #qImg img {
        width: 200px;
        height: 200px;
        border-top-left-radius: 5px;
    }
    
    #question {
        width: 500px;
        height: 125px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    #question p {
        margin: 0;
        padding: 15px;
        font-size: 1.25em;
    }
    
    #choices {
        width: 480px;
        position: absolute;
        right: 0;
        top: 125px;
        padding: 10px
    }
    
    .choice {
        display: inline-block;
        width: 135px;
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
    }
    
    .choice:hover {
        border: 2px solid grey;
        font-weight: bold;
    }
    
    #timer {
        position: absolute;
        height: 100px;
        width: 200px;
        bottom: 0px;
        text-align: center;
    }
    
    #counter {
        font-size: 3em;
    }
    
    #btimeGauge {
        width: 150px;
        height: 10px;
        border-radius: 10px;
        background-color: lightgray;
        margin-left: 25px;
    }
    
    #timeGauge {
        height: 10px;
        border-radius: 10px;
        background-color: mediumseagreen;
        margin-top: -10px;
        margin-left: 25px;
    }
    
    #progress {
        width: 500px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        text-align: right;
    }
    
    .prog {
        width: 25px;
        height: 25px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #scoreContainer {
        margin: 20px auto;
        background-color: white;
        opacity: 0.8;
        height: 300px;
        width: 700px;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px;
        position: relative;
        display: none;
    }
    
    #scoreContainer img {
        position: absolute;
        top: 100px;
        left: 325px;
    }
    
    #scoreContainer p {
        position: absolute;
        display: block;
        width: 59px;
        height: 59px;
        top: 130px;
        left: 325px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }


    #examing {

        display: none;
    }
    /* End Exam */
    
    /******** Start About Us*******/
     #card1, #card2 
    {
        margin: 20px 0;
    }
    @media only screen and (max-width: 411px) {
        #cards .card1, .card2 {
            width: 25%;
        }
      }
     
     
    /******** End About Us*******/
